<?xml version="1.0"?>
<model>
  <name>iris_wind_quad_hires_pt1_crash</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Zhixian Yang</name>
    <email>zyang248@connect.hkust-gz.edu.cn</email>
  </author>
  <description>
    RBM-4 pt1: hires quad with wind torque; XY hover PID off so wind pushes the vehicle toward building collision.
    Meshes reuse model://iris_wind_quad_hires_demo/meshes/.
  </description>
</model>
