<?xml version="1.0"?>
<model>
  <name>wind_arrows_hotspot_hires</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Zhixian Yang</name>
    <email>zyang248@connect.hkust-gz.edu.cn</email>
  </author>
  <description>
    Visual-only wind arrows sampled from Wind LUT (static).
  </description>
</model>
